{% extends "attendance/base.html" %}

{% block titleModifier %}
	- {{course.name}}
{% endblock %}


{% block headerTitle %}
	{{course.display_name}}
{% endblock %}


{% block headerParagraph %}
  <a href="{% url 'courseHomeURL' course.name %}">Course Home</a>
  <br>
  <a href="{% url 'editCourseURL' course.name %}">Edit Course</a>
	<br>
{% endblock %}

{# // scripts for table sorting #}

{% block bodyContent %}

<script>
$(document).ready( function () {
    $('#course-students-table').DataTable({
    paging: false
    });
} );

$(document).ready( function () {
    $('#course-dates-table').DataTable({
    "order": [[0, "desc"]]
    });
} );
</script>

  <h4>Take Today's Attendance</h4>
	{% if inProgress %}
		<p>Attendance in progress with code: {{ code }}. Ends: {{endtime}} UTC </p>
	{% else %}
  	{% include "attendance/form.html" with form=form %}
	{% endif %}

  </br></br>
  <h4>Dates</h4>
  <table class="table table-bordered" id="course-dates-table">
  <thead>
  <tr>
  <th>Date</th>
  <th data-orderable="false">Month Day</th>
  </tr>
  </thead>
  <tbody>
  {% for d in attendance %}
  <tr>
  	<td><a href="{% url 'courseAttendanceURL' course.name d.date|date:"Y-m-d" %}">{{ d.date|date:"Y-m-d" }}</a></td>
  	<td> {{ d.date|date:"D M d" }} </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>

  </br></br>
  <h4>Students</h4>
  <table class="table table-bordered" id="course-students-table">
  <thead>
  <tr>
  <th>Username</th>
  <th>First Name</th>
  <th>Last Name</th>
  </tr>
  </thead>
  <tbody>
  {% for s in students  %}
  	<tr>
  	<td><a href="{% url 'courseStudentAttendanceURL' course.name s.username %}">{{ s.username }}</a></td>
  	<td>{{ s.first_name }} </td>
  	<td>{{ s.last_name }} </td>
  	</tr>
  {% endfor %}
  </tbody>
  </table>

{% endblock %}
