{% extends "attendance/course.html" %}

{% block bodyContent %}

  <script>
  $(document).ready( function () {
    $("#course-date-attendance-table").DataTable({
        paging: false
    });
  } );
  </script>

<div id="csvshit">

<textarea id="txt" class="txtarea hidden" aria-label="CSV File Text">[{"id":"1","title":"Some Shit"},{"id":"2","title":"Some Other shit"}]</textarea>
<br><button id="download">Download CSV</button>
</div>
  <h3>Attendance for Course {{ course_id }} on {{ day }}</h3>

  <table class="table table-striped" id="course-date-attendance-table">
  <thead>
  <tr>
  <th>Username</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Status</th>
  </tr>
  </thead>
  <tbody>
  {% for record in recordList  %}
  	<tr>
  	<td>{{ record.studentusername|safe }}</td>
  	<td>{{ record.user.first_name|safe }} </td>
  	<td>{{ record.user.last_name }} </td>
  	<td>{{ record.status }} </td>

  	</tr>
  {% endfor %}
  </tbody>

  </table>
{% endblock %}
