{% extends "attendance/course.html" %}

{% block bodyContent %}
	<script>
	$(document).ready( function () {
		$("#course-student-attendance-table").DataTable({
				paging: false
		});
	} );
	</script>

	<h4>Attendance for Course {{ course_id }}</h4>
	<h4>{{ student }}: {{ a }}/{{ t }}(absent/#classes)</h4>

	<table class="table table-striped" id="course-student-attendance-table">
	<thead>
	<tr>
	<th>Date</th>
	<th>Status</th>
	</tr>
	</thead>
	<tbody>
	{% for record in recordList  %}
		<tr>
		<td>{{ record.date|safe }}</td>
		<td>{{ record.status|safe }} </td>

		</tr>
	{% endfor %}
	</tbody>

	</table>

{% endblock %}
