{% extends "attendance/course.html" %}

{% block headerParagraph %}
<a class="btn btn-submit btn-sm" href="{% url 'courseHomeURL' semester_id.name course_id %}">{{ course_id }} Home</a><br>
	This is the attendance history for {{ student.username }} ({{ student.first_name }} {{ student.last_name }})
	<br><br>
	{{ a }}/{{ t }} (absent/#classes)
	<br>
	Attendance {% widthratio p t 100 %}%
{% endblock %}

{% block bodyContent %}
<div>
	Present: {{p}}
	<br>
	Absent: {{a}}
	<div class="progress">
	  <div class="progress-bar bg-success" role="progressbar" style="width: {% widthratio p t 100 %}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
			{% widthratio p t 100 %}%
		</div>
		<div class="progress-bar bg-danger" role="progressbar" style="width: {% widthratio a t 100 %}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
			{% widthratio a t 100 %}%
		</div>
	</div>
	</div>
	  <hr>

	<script>
	$(document).ready( function () {
		$("#course-student-attendance-table").DataTable({
				paging: false
		});
	} );
	</script>

	<div>
		Download CSV file containing the entire attendance history for {{student.username}}
		<br>
		<button class="btn btn-secondary btn-sm" id="download">Download</button>

		<textarea id="txt"  name="{{ course_id }}_{{ student.username }}" class="txtarea hidden" style="display:none;" aria-label="CSV File Text">
		[
		{% for record in recordList %}

		{"Date":"{{ record.date|safe }}","Status":"{% if record.status == 'P' %}Present{% elif record.status == 'U' %}Unexcused{% elif record.status == 'E' %}Excused{% elif record.status == 'T' %}Tardy{% else %}{% endif %}"}

		{% if forloop.last %}

		{% else %}
		,
		{% endif %}
		{% endfor %}
		]
		</textarea>
	</div>

	<hr>

	<div>
		<table class="table table-striped" id="course-student-attendance-table">
		<thead>
		<tr>
		<th>Date</th>
		<th>Status</th>
		</tr>
		</thead>
		<tbody>
		{% for record in recordList  %}
			<tr>
			<td><a href="{% url 'courseAttendanceURL' semester_id.name course.name record.date|date:"Y-m-d" %}">{{ record.date|safe }}</a></td>
			<td>{{ record.status|safe }} </td>

			</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>
{% endblock %}
