{% extends "attendance/base.html" %}
{% load bootstrap4 %}

{% block titleModifier %}
	- Login
{% endblock %}


{% block headerTitle %}
	Login
{% endblock %}


{% block headerParagraph %}
  Using your Clemson credentials
{% endblock %}


{% block bodyContent %}
	<div class="col-md-4 col-centered">
	{% if request.user.is_authenticated %}
			<p>You are already logged in</p>
	{% else %}
			{% if next %}
				<form action="/login/?next={{next}}" method="post">
			{% else %}
				<form action="/login/" method="post">
			{% endif %}
			{% csrf_token %}
			{% bootstrap_form form %}
			{% bootstrap_button 'Submit' button_class='btn-submit' size='md'%}
		</form>
	{% endif %}
	</div>
{% endblock %}





{% comment %}
this is the old form

{% if next %}
	<form action="/login/?next={{next}}" method="post">
{% else %}
	<form action="/login/" method="post">
{% endif %}
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" onclick="this.disabled=true; this.form.submit()"/>
</form>

{% endcomment %}
