{% extends "attendance/instructorBase.html" %}

{% block content %}
<h3>Attendance for Course {{ course_id }}</h3>
<h3>{{ student }}: {{ a }}/{{ t }}(absent/#classes)</h3>

<ul>
	<li><div class="attendanceUser">Date</div><div class="attendanceResult">Present</div></li>
{% for record in recordList %}
	<li>
		<div class="attendanceUser">
			{{record.date|date:"Y-m-d"}}
		</div>
		<div class="attendanceResult">
			{% if record.status == 'P' %} X {% endif %}
		</div>
	</li>
{% endfor %}
</ul>
{% endblock %}
