{% extends "attendance/base.html" %}

{% block titleModifier %}
	- History
{% endblock %}


{% block headerTitle %}
  History
{% endblock %}


{% block headerParagraph %}
   View your SoC Checkin attendance history below.
{% endblock %}


{% block bodyContent %}
{% for course in course_records %}
<script>
$(document).ready( function () {
    $("#students-attendance-history-table{{course.0.courseid}}").DataTable({
    "order": [[0, "desc"]]
    });
} );
</script>
{% endfor %}
<div id="csvarea">


<textarea id="txt"  name="{{ username }}" class="txtarea hidden" style="display:none;" aria-label="CSV File Text">
[
{% for record in records %}
{# // After appending all records from the same course insert a blank section. Then add data from next course #}
{% ifchanged record.courseid %}
{% if forloop.first %}
{% else %}
{"Course":"","Date":"","Status":""},
{% endif %}
{"Course":"{{ record.courseid|safe }}","Date":"{{ record.date|safe }}","Status":"{% if record.status == 'P' %}Present{% elif record.status == 'U' %}Unexcused{% elif record.status == 'E' %}Excused{% elif record.status == 'T' %}Tardy{% else %}{% endif %}"}
{% else %}
{"Course":"{{ record.courseid|safe }}","Date":"{{ record.date|safe }}","Status":"{% if record.status == 'P' %}Present{% elif record.status == 'U' %}Unexcused{% elif record.status == 'E' %}Excused{% elif record.status == 'T' %}Tardy{% else %}{% endif %}"}
{% endifchanged %}

{% if forloop.last %}

{% else %}
,
{% endif %}
{% endfor %}
]
</textarea>
Download all of your attendance history
<br><button class="btn btn-secondary btn-sm" id="download">Download CSV</button>
</div>


<hr>
<div id="course_attendance_tables">
{% for course in course_records %}
<h4>Attendance history for course {{course.0.courseid}}</h4>
<table class="table table-striped" id="students-attendance-history-table{{course.0.courseid}}">
<thead>
<tr>
<th>Date</th>
<th data-orderable="false">Month Day</th>
<th>Record</th>
</tr>
</thead>
{% for r in course %} 
<tr>
	<td>{{ r.date|date:"Y-m-d" }}</td>
  <td>{{ r.date|date:"D M d" }} </td>
	<td>{% if r.status == 'P' %}{% elif r.status == 'U' %}&#10060;{% elif r.status == 'E' %}Excused{% elif r.status == 'T' %}&#128344;{% else %}{% endif %}</td>
	</tr>
{% endfor %}
</tbody>
</table>
<br><hr><br>
{% endfor %}
</div>

{% endblock %}
