{% extends "attendance/studentBase.html" %}

{% block content %}

<h1>Sign in to a Class</h1>

{% include "attendance/form.html" with form=form %}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script>
$(document).ready( function () {
    $('#students').DataTable({
    "order": [[0, "desc"]]
    });
} );
</script>

<h1>Attendance History</h1>

<table class="table table-bordered" id="students">
<thead>
<tr>
<th>Date</th>
<th>Course</th>
<th>Record</th>
</tr>
</thead>
<tbody>
{% for r in records  %}
	<tr>
  <td>{{ r.date|date:"D M d" }} </td>
	<td>{{ r.courseid }} </td>
	<td>{{ r.status }} </td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
