#navbar-username{
  color: #212529
}

body {
  bgcolor: white
}

.btn-submit{
background-color:#522D80;
color:#fff;
border-color:#522D80;
}
.btn-submit:hover{
color:#F66733;
}
.progress{
  height:25px;
}

a{
color:#2021CA;
}
a:hover{
color:#000;
}

